body{
    font-family: 'DM Sans', sans-serif;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}

.header{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0px 47px;
}

.header_flex, .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_li{
    display: inline-block;
}

.nav_li:not(:first-of-type){
    margin-left: 49px;
}

.nav_link{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px; 
    color: #696871;
    text-decoration: none;
}

.nav_link:hover{
    color: black;
    transition: 300ms;
}

.button{
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.bautton_orange{
    background: #FF7143;
}

.bautton_orange:hover{
    color: #fda689;
    transition: 700px;
}

.about{
    margin: 105px auto 85px;
}

.about_title{
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464px;
    margin-bottom: 50px;
}

.bautton_violet{
    background: #5454D4;
}

.bautton_violet:hover{
    background: #6969d1;
    transition: 700px;
}

.bautton_white{
    background: none;
    border: 1px solid #5454D4;
    color: #5454D4;
    margin-left: 36px;
}

.bautton_white:hover{
    background: #7171f0;
    color: #FFFFFF;
}